*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --nav-light-blue: #B3ECFF;
    --background-light-blue: #d8eefe;
    --background-dark-blue: #094067;
    --btn-orange: #FF751A;
    --btn-blue: #3da9fc;
    --text-orange: #FF751A;
    --text-headline-dark-blue: #094067;
    --text-light-gray: #5F6C7B;
    --text-hight-light-red: #EF4565;
    --line-light-blue: #3DA9FC;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--background-dark-blue);
}

a:hover {
    color: var(--btn-orange);
}

#main-content-backgound {
    background-image: url("./img/body-background.jpg");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;
}

h1, h4 {
    text-align: center;
}

#main-content {
    padding: 10px;
}

/* Center content Start here */

/* Center content End here */
